/* PÁGINA */

* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}


/*TÍTULO */

#tituloPagina {
    top: 0;
    position: fixed;
    width: 100%;
    color: rgb(216, 214, 214);
    background-color: #771a1a;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    padding: 5px;
    font-size: 20px;
    font-family: "Cooper Black";
}


/* NAVBAR */

.menuFixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    overflow: hidden;
    background-color: #771a1a;
    margin-top: 50px;
}

nav a {
    float: left;
    padding: 18px 18px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav div a:hover {
    background-color: #cf3030;
    border-radius: 10px;
}

.navbar {
    display: flex;
    padding-top: 40px;
    justify-content: space-around;
}

#logo {
    display: flex;
    float: left;
    margin-left: 5%;
    margin-right: 2%;
}


/* MAIN */

main {
    margin-top: 200px;
}

#conteudo {
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    background-color: rgba(216, 211, 211, 0.418);
    margin-left: 5%;
    margin-right: 5%;
}


/* HOME */

#titulo {
    text-align: center;
}

#titulo h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

#titulo img {
    width: 80%;
}

.noticias div {
    margin: 80px;
}

.noticias div a {
    color: rgba(68, 67, 67, 0.692);
}

.noticias div a:hover {
    color: rgba(20, 17, 221, 0.719);
}


/* NOTÍCIA 1 */

.noticias #noticia1 {
    background-color: rgba(177, 170, 170, 0.418);
}

#noticia1 h1 {
    padding-top: 20px;
    font-size: 25px;
}

#noticia1 p {
    display: table-cell;
    float: left;
    width: 600px;
    margin-top: 20px;
    margin-right: 60px;
    text-align: justify;
    font-size: 20px;
}

#noticia1 img {
    width: 35%;
    padding-bottom: 20px;
}


/* NOTÍCIA 2 */

#noticia2 h1 {
    font-size: 25px;
}

#noticia2 p {
    display: table-cell;
    float: right;
    width: 600px;
    margin-top: 20px;
    text-align: justify;
    font-size: 20px;
}

#noticia2 img {
    width: 35%;
    padding-top: 20px;
}


/* NOTÍCIA 3 */

.noticias #noticia3 {
    background-color: rgba(177, 170, 170, 0.418);
}

#noticia3 h1 {
    font-size: 25px;
    padding-top: 20px;
}

#noticia3 iframe {
    margin-left: 25%;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* NOTÍCIA 4 */

#noticia4 h1 {
    font-size: 25px;
    padding-top: 20px;
}

#noticia4 iframe {
    margin-left: 25%;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* NOTÍCIA 5 */

.noticias #noticia5 {
    background-color: rgba(177, 170, 170, 0.418);
}

#noticia5 h1 {
    font-size: 25px;
    padding-top: 20px;
}

#noticia5 iframe {
    padding-top: 20px;
}


/* NOTÍCIA 6 */

#noticia6 h1 {
    font-size: 25px;
    padding-top: 20px;
}

#noticia6 iframe {
    padding-top: 20px;
}


/*SOBRE */

#tituloSobre {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: 20px;
}

#equipe {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    padding: 20px;    
}

.sobreEquipe {
    display: grid;
    border: grey 1px solid;
    box-shadow: grey 2px 2px 3px;
    grid-template-rows: repeat(35, auto);
    align-content: space-between;
    padding: 20px;
}

.sobreEquipe h3 {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sobreEquipe p {
    margin-left: 4px;
    margin-right: 4px;
}

.sobreEquipe a img {
    display: flex;
    height: 30px;
    margin-top: 20px;
}


/* CONTATOS */

#formulario {
    text-align: center;
}

/* SAIBA MAIS */

#tituloSaiba {
    display: flex;
    justify-content: center;
    padding: 60px;
}

.descSaiba{
    text-align: center;
}

#infSaibaMais1 img{
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

#infSaibaMais1 h3{
    padding: 10px;;
}

#infSaibaMais2 img{
    border: 1px solid black;
    width: 225px;
    height: 125px;
}

#infSaibaMais2 h3{
    padding: 10px;;
}

#infSaibaMais3 img{
    border: 1px solid black;
    width: 180px;
    height: 125px;
}

#infSaibaMais3 h3{
    padding: 10px;;
}

#infSaibaMais4 img{
    border: 1px solid black;
    width: 150px;
    height: 150px;
}

#infSaibaMais4 h3{
    padding: 10px;;
}