/* PÁGINA */

* {
    padding: 0px;
    margin: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
/*TÍTULO */

#tituloPagina {
    top: 0;
    /*width: 100%;
    background-color: white;
    z-index: 4;
    overflow: hidden;
    */

    background-color: #cfa530;
    color: black;
    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    display: flex;
    padding: 20px;
    
}

/*Conteudo*/
#conteudo{
    border: black 1px solid;
    border-radius: 10px;
    padding-left: 50px;
    margin-bottom: 30px;
    box-shadow: black 2px 2px 5px;
    background-color: rgba(216, 211, 211, 0.418);
    margin-left: 5%;
    margin-right: 5%;
}

/* NAVBAR */

.menuFixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
    overflow: hidden;
    background-color: #cfa530;
    margin-top: 50px;
}

nav a {
    float: left;
    padding: 18px 18px;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

nav div a:hover {
    background-color: #be8b24;
    border-radius: 10px;
}

nav section div {
    margin-right: 80px;
}

.navbar {
    display: flex;
    float: left;
    margin-top: 42px;
}

#logo {
    display: flex;
    float: left;
    margin-left: 80px;
    margin-right: 210px;
}

/*Sobre */
#tituloSobre{
    display: flex;
    justify-content: center;
    align-content: center;
    text-align: center;
}

#equipe {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
    justify-content: space-between;
    padding: 20px;
    margin: 0 auto;
    max-width: 924px;
}

.sobreEquipe {
    border: grey 1px solid;
    box-shadow: grey 2px 2px 3px;
    padding: 20px;
    display: grid;
    grid-template-rows: repeat(4, auto);
    align-content: space-between;
}

.sobreEquipe h3{
    display: flex;
    justify-content: center;
    padding: 20px;
}

.sobreEquipe p{
    margin-left: 4px;
    margin-right: 4px;
}

.sobreEquipe a img{    
    display: flex;
    height: 30px;
    margin-top: 20px;
}

/* MAIN */

main {
    margin-top: 10%;
}